In [6]:
#printing data values

import pandas as pd

data=pd.read_csv("nba-2.csv",index_col="Name")

first=data["Team"]

print(first)

Name
Avery Bradley    Boston Celtics
Jae Crowder      Boston Celtics
John Holland     Boston Celtics
R.J. Hunter      Boston Celtics
Jonas Jerebko    Boston Celtics
                      ...
Trey Lyles            Utah Jazz
Shelvin Mack          Utah Jazz
Raul Neto             Utah Jazz
Tibor Pleiss          Utah Jazz
Jeff Withey           Utah Jazz
Name: Team, Length: 457, dtype: object

In [8]:
#printing data multiple value

import pandas as pd

data=pd.read_csv("nba-2.csv",index_col="Number")

first=data[["Team","Age","College"]]

print(first)

                  Team  Age            College
Number
0       Boston Celtics   25              Texas
99      Boston Celtics   25          Marquette
30      Boston Celtics   27  Boston University
28      Boston Celtics   22      Georgia State
8       Boston Celtics   29                NaN
...                ...  ...                ...
41           Utah Jazz   20           Kentucky
8            Utah Jazz   26             Butler
25           Utah Jazz   24                NaN
21           Utah Jazz   26                NaN
24           Utah Jazz   26             Kansas

[457 rows x 3 columns]

In [12]:
#retrive data from csv file

import pandas as pd

data=pd.read_csv("nba-2.csv",index_col="Name")

first=data.loc["Avery Bradley"]
second=data.loc["John Holland"]

print(first,"\n\n\n",second)

Team        Boston Celtics
Number                   0
Position                PG
Age                     25
Height               2-Jun
Weight                 180
College              Texas
Salary           7730337.0
Name: Avery Bradley, dtype: object


 Team           Boston Celtics
Number                     30
Position                   SG
Age                        27
Height                  5-Jun
Weight                    205
College     Boston University
Salary                    NaN
Name: John Holland, dtype: object

In [15]:
#loc method retrive data

import pandas as pd

data=pd.read_csv("nba-2.csv",index_col="Team")

first=data.loc["Boston Celtics"]
second=data.loc["Utah Jazz"]

print(first,"\n\n\n",second)

                           Name  Number Position  Age  Height  Weight  \
Team
Boston Celtics    Avery Bradley       0       PG   25   2-Jun     180
Boston Celtics      Jae Crowder      99       SF   25   6-Jun     235
Boston Celtics     John Holland      30       SG   27   5-Jun     205
Boston Celtics      R.J. Hunter      28       SG   22   5-Jun     185
Boston Celtics    Jonas Jerebko       8       PF   29  10-Jun     231
Boston Celtics     Amir Johnson      90       PF   29   9-Jun     240
Boston Celtics    Jordan Mickey      55       PF   21   8-Jun     235
Boston Celtics     Kelly Olynyk      41        C   25  Jul-00     238
Boston Celtics     Terry Rozier      12       PG   22   2-Jun     190
Boston Celtics     Marcus Smart      36       PG   22   4-Jun     220
Boston Celtics  Jared Sullinger       7        C   24   9-Jun     260
Boston Celtics    Isaiah Thomas       4       PG   27   9-May     185
Boston Celtics      Evan Turner      11       SG   27   7-Jun     220
Boston Celtics      James Young      13       SG   20   6-Jun     215
Boston Celtics     Tyler Zeller      44        C   26  Jul-00     253

                          College      Salary
Team
Boston Celtics              Texas   7730337.0
Boston Celtics          Marquette   6796117.0
Boston Celtics  Boston University         NaN
Boston Celtics      Georgia State   1148640.0
Boston Celtics                NaN   5000000.0
Boston Celtics                NaN  12000000.0
Boston Celtics                LSU   1170960.0
Boston Celtics            Gonzaga   2165160.0
Boston Celtics         Louisville   1824360.0
Boston Celtics     Oklahoma State   3431040.0
Boston Celtics         Ohio State   2569260.0
Boston Celtics         Washington   6912869.0
Boston Celtics         Ohio State   3425510.0
Boston Celtics           Kentucky   1749840.0
Boston Celtics     North Carolina   2616975.0


                      Name  Number Position  Age  Height  Weight       College  \
Team
Utah Jazz   Trevor Booker      33       PF   28   8-Jun     228       Clemson
Utah Jazz      Trey Burke       3       PG   23   1-Jun     191      Michigan
Utah Jazz      Alec Burks      10       SG   24   6-Jun     214      Colorado
Utah Jazz      Dante Exum      11       PG   20   6-Jun     190           NaN
Utah Jazz  Derrick Favors      15       PF   24  10-Jun     265  Georgia Tech
Utah Jazz     Rudy Gobert      27        C   23   1-Jul     245           NaN
Utah Jazz  Gordon Hayward      20       SF   26   8-Jun     226        Butler
Utah Jazz     Rodney Hood       5       SG   23   8-Jun     206          Duke
Utah Jazz      Joe Ingles       2       SF   28   8-Jun     226           NaN
Utah Jazz   Chris Johnson      23       SF   26   6-Jun     206        Dayton
Utah Jazz      Trey Lyles      41       PF   20  10-Jun     234      Kentucky
Utah Jazz    Shelvin Mack       8       PG   26   3-Jun     203        Butler
Utah Jazz       Raul Neto      25       PG   24   1-Jun     179           NaN
Utah Jazz    Tibor Pleiss      21        C   26   3-Jul     256           NaN
Utah Jazz     Jeff Withey      24        C   26  Jul-00     231        Kansas

               Salary
Team
Utah Jazz   4775000.0
Utah Jazz   2658240.0
Utah Jazz   9463484.0
Utah Jazz   3777720.0
Utah Jazz  12000000.0
Utah Jazz   1175880.0
Utah Jazz  15409570.0
Utah Jazz   1348440.0
Utah Jazz   2050000.0
Utah Jazz    981348.0
Utah Jazz   2239800.0
Utah Jazz   2433333.0
Utah Jazz    900000.0
Utah Jazz   2900000.0
Utah Jazz    947276.0

In [18]:
#loc method retrive data

import pandas as pd

data=pd.read_csv("nba-2.csv",index_col="Name")

first=data.loc[["Avery Bradley","John Holland"]]


print(first)

                         Team  Number Position  Age Height  Weight  \
Name
Avery Bradley  Boston Celtics       0       PG   25  2-Jun     180
John Holland   Boston Celtics      30       SG   27  5-Jun     205

                         College     Salary
Name
Avery Bradley              Texas  7730337.0
John Holland   Boston University        NaN

In [19]:
#loc method retrive data

import pandas as pd

data=pd.read_csv("nba-2.csv",index_col="Team")

first=data.loc[["Boston Celtics","Utah Jazz"]]


print(first)

                           Name  Number Position  Age  Height  Weight  \
Team
Boston Celtics    Avery Bradley       0       PG   25   2-Jun     180
Boston Celtics      Jae Crowder      99       SF   25   6-Jun     235
Boston Celtics     John Holland      30       SG   27   5-Jun     205
Boston Celtics      R.J. Hunter      28       SG   22   5-Jun     185
Boston Celtics    Jonas Jerebko       8       PF   29  10-Jun     231
Boston Celtics     Amir Johnson      90       PF   29   9-Jun     240
Boston Celtics    Jordan Mickey      55       PF   21   8-Jun     235
Boston Celtics     Kelly Olynyk      41        C   25  Jul-00     238
Boston Celtics     Terry Rozier      12       PG   22   2-Jun     190
Boston Celtics     Marcus Smart      36       PG   22   4-Jun     220
Boston Celtics  Jared Sullinger       7        C   24   9-Jun     260
Boston Celtics    Isaiah Thomas       4       PG   27   9-May     185
Boston Celtics      Evan Turner      11       SG   27   7-Jun     220
Boston Celtics      James Young      13       SG   20   6-Jun     215
Boston Celtics     Tyler Zeller      44        C   26  Jul-00     253
Utah Jazz         Trevor Booker      33       PF   28   8-Jun     228
Utah Jazz            Trey Burke       3       PG   23   1-Jun     191
Utah Jazz            Alec Burks      10       SG   24   6-Jun     214
Utah Jazz            Dante Exum      11       PG   20   6-Jun     190
Utah Jazz        Derrick Favors      15       PF   24  10-Jun     265
Utah Jazz           Rudy Gobert      27        C   23   1-Jul     245
Utah Jazz        Gordon Hayward      20       SF   26   8-Jun     226
Utah Jazz           Rodney Hood       5       SG   23   8-Jun     206
Utah Jazz            Joe Ingles       2       SF   28   8-Jun     226
Utah Jazz         Chris Johnson      23       SF   26   6-Jun     206
Utah Jazz            Trey Lyles      41       PF   20  10-Jun     234
Utah Jazz          Shelvin Mack       8       PG   26   3-Jun     203
Utah Jazz             Raul Neto      25       PG   24   1-Jun     179
Utah Jazz          Tibor Pleiss      21        C   26   3-Jul     256
Utah Jazz           Jeff Withey      24        C   26  Jul-00     231

                          College      Salary
Team
Boston Celtics              Texas   7730337.0
Boston Celtics          Marquette   6796117.0
Boston Celtics  Boston University         NaN
Boston Celtics      Georgia State   1148640.0
Boston Celtics                NaN   5000000.0
Boston Celtics                NaN  12000000.0
Boston Celtics                LSU   1170960.0
Boston Celtics            Gonzaga   2165160.0
Boston Celtics         Louisville   1824360.0
Boston Celtics     Oklahoma State   3431040.0
Boston Celtics         Ohio State   2569260.0
Boston Celtics         Washington   6912869.0
Boston Celtics         Ohio State   3425510.0
Boston Celtics           Kentucky   1749840.0
Boston Celtics     North Carolina   2616975.0
Utah Jazz                 Clemson   4775000.0
Utah Jazz                Michigan   2658240.0
Utah Jazz                Colorado   9463484.0
Utah Jazz                     NaN   3777720.0
Utah Jazz            Georgia Tech  12000000.0
Utah Jazz                     NaN   1175880.0
Utah Jazz                  Butler  15409570.0
Utah Jazz                    Duke   1348440.0
Utah Jazz                     NaN   2050000.0
Utah Jazz                  Dayton    981348.0
Utah Jazz                Kentucky   2239800.0
Utah Jazz                  Butler   2433333.0
Utah Jazz                     NaN    900000.0
Utah Jazz                     NaN   2900000.0
Utah Jazz                  Kansas    947276.0

In [20]:
#loc method retrive data

import pandas as pd

data=pd.read_csv("nba-2.csv",index_col="Name")
#all rows and specific col
first=data.loc[:,["Team","Number","Position"]]


print(first)

                         Team  Number Position
Name
Avery Bradley  Boston Celtics       0       PG
Jae Crowder    Boston Celtics      99       SF
John Holland   Boston Celtics      30       SG
R.J. Hunter    Boston Celtics      28       SG
Jonas Jerebko  Boston Celtics       8       PF
...                       ...     ...      ...
Trey Lyles          Utah Jazz      41       PF
Shelvin Mack        Utah Jazz       8       PG
Raul Neto           Utah Jazz      25       PG
Tibor Pleiss        Utah Jazz      21        C
Jeff Withey         Utah Jazz      24        C

[457 rows x 3 columns]

In [23]:
import pandas as pd

data=pd.read_csv("nba-2.csv",index_col="Name")

first=data.iloc[3]

print(first)

Team        Boston Celtics
Number                  28
Position                SG
Age                     22
Height               5-Jun
Weight                 185
College      Georgia State
Salary           1148640.0
Name: R.J. Hunter, dtype: object

In [24]:
import pandas as pd

data=pd.read_csv("nba-2.csv",index_col="Name")
#printing specific row
first=data.iloc[10]

print(first)

Team        Boston Celtics
Number                   7
Position                 C
Age                     24
Height               9-Jun
Weight                 260
College         Ohio State
Salary           2569260.0
Name: Jared Sullinger, dtype: object

In [26]:
#multiple rows iloc

import pandas as pd

data=pd.read_csv("nba-2.csv",index_col="Name")

first=data.iloc[[3,5,7]]

print(first)

                        Team  Number Position  Age  Height  Weight  \
Name
R.J. Hunter   Boston Celtics      28       SG   22   5-Jun     185
Amir Johnson  Boston Celtics      90       PF   29   9-Jun     240
Kelly Olynyk  Boston Celtics      41        C   25  Jul-00     238

                    College      Salary
Name
R.J. Hunter   Georgia State   1148640.0
Amir Johnson            NaN  12000000.0
Kelly Olynyk        Gonzaga   2165160.0

In [27]:
#multiple rows iloc

import pandas as pd

data=pd.read_csv("nba-2.csv",index_col="Team")

first=data.iloc[[3,5,7]]

print(first)

                        Name  Number Position  Age  Height  Weight  \
Team
Boston Celtics   R.J. Hunter      28       SG   22   5-Jun     185
Boston Celtics  Amir Johnson      90       PF   29   9-Jun     240
Boston Celtics  Kelly Olynyk      41        C   25  Jul-00     238

                      College      Salary
Team
Boston Celtics  Georgia State   1148640.0
Boston Celtics            NaN  12000000.0
Boston Celtics        Gonzaga   2165160.0

In [38]:
#multiple rows iloc

import pandas as pd

data=pd.read_csv("nba-2.csv",index_col="Team")

first=data.iloc[[3,5],[1,2]]

print(first)

                Number Position
Team
Boston Celtics      28       SG
Boston Celtics      90       PF