In [4]:
#variables

#declaring 
a=5
b=9
num_one=1
_one=0
#Note no hashtags in declaring variables and var do not start with number
print(a,b,num_one,_one)

5 9 1 0

In [8]:
#assigning
a,b,c=8,9,7
print(a,b,c)
print(a,b,c,sep='/')
print(a,b,c,sep='*')
print(a,b,c,sep=',')
a=b=c=1

8 9 7
8/9/7
8*9*7
8,9,7

In [33]:
#Data Types

#int
a,b,c=1,5,6

#float
aa=7.8

#complex number
cc=7+9j

#boolean
t=True

#set
S={'laxita',6,'asodiya',(1,2,3)}

#tuple
T=(78,'laxita',8,9)

#Dictionary
D={"name":'laxita',"roll_no":95,"lastname":'asodiya'}
print(D(key))
print(D(values))

#List
L=['laxita',8,9,10]

print(a,b,c,aa,cc,t,S,T,L,sep='\n')

print(D)
print(len(S))

NameError: name 'key' is not defined

In [30]:
x='laxita' in S
print(x)
7 in S

True

False

In [39]:
S1={'laxita',6,'asodiya',7}
S2={'gauri',12,'roy',90}# left to right
print(S1|S2) #union
print(S2|S1)
print(S1.union(S2))
print(S2.union((8,10,11)))#only tuple
print(S1,S2,sep="")
print("The difference is"+ str(S1.difference(S2)))

print(S1^S2)#all element in one set

{6, 7, 12, 'asodiya', 'gauri', 'laxita', 90, 'roy'}
{6, 7, 12, 'asodiya', 'gauri', 'laxita', 90, 'roy'}
{6, 7, 12, 'asodiya', 'gauri', 'laxita', 90, 'roy'}
{8, 10, 11, 12, 'gauri', 90, 'roy'}
{'laxita', 'asodiya', 6, 7}{'gauri', 90, 'roy', 12}
The difference is{'laxita', 'asodiya', 6, 7}
{6, 7, 12, 'asodiya', 'gauri', 'laxita', 90, 'roy'}

In [40]:
S1.issubset(S2)

False

In [48]:
S1>=S2

True

In [17]:
#Slicing of tuple,strings,lists

L1=['laxita',8,29,30,'cse',45,657,86]
T1=(2,4,'laxita',94,3,7,8,56)
string1="learn python today!"

print(len(L1))
print(len(T1))
print(len(string1))
print()
print(L1[:])
print(T1[:])

print(L1[2:4])
print(T1[:2])

print(L1[2:4:])
print(T1[:2])
print(string1[4:19:2])
print()

print("NEGATIVE SLICING!")
print(L1[-8:-4])
print(T1[-7:-3])
print(string1[-10:-4])

8
8
19

['laxita', 8, 29, 30, 'cse', 45, 657, 86]
(2, 4, 'laxita', 94, 3, 7, 8, 56)
[29, 30]
(2, 4)
[29, 30]
(2, 4)
npto oa!

NEGATIVE SLICING!
['laxita', 8, 29, 30]
(4, 'laxita', 94, 3)
hon to

In [37]:
str="let's learn python"
print(str[:-1])
print(str[-6:-2])
print(str[-1:])
print(str[-18:])
print(str[-1:-18])


print(str[:])
print(str[:7])
print(str[6:])
print(str[2:8])
print(str[5:11])

let's learn pytho
pyth

n
let's learn python

let's learn python
let's l
learn python
t's le
 learn

In [45]:
#Concate two tuple,list,set or dict

T1=(1,3,5,6)
T2=(3,6,47,7)

print(T1+T2)
print(T2+T1)

print()
L1=['laxita','cse',66,77,88]
L2=[78,96,46,85]
print(L1+L2)
print(L2+L1)
print()
S1={7,9,94,'laxita'}
S2={6,8,36,9}
print(S1|S2)
print()
dict1={"name":'laxita',"roll_no":95,"lastname":'asodiya'}
dict2={"girl":'gauri',"no":99,"sn":'roy'}
dict1.update(dict2)
print(dict1)
print()
print(dict1.keys(),dict1.values())

(1, 3, 5, 6, 3, 6, 47, 7)
(3, 6, 47, 7, 1, 3, 5, 6)

['laxita', 'cse', 66, 77, 88, 78, 96, 46, 85]
[78, 96, 46, 85, 'laxita', 'cse', 66, 77, 88]

{36, 6, 7, 8, 9, 'laxita', 94}

{'name': 'laxita', 'roll_no': 95, 'lastname': 'asodiya', 'girl': 'gauri', 'no': 99, 'sn': 'roy'}

dict_keys(['name', 'roll_no', 'lastname', 'girl', 'no', 'sn']) dict_values(['laxita', 95, 'asodiya', 'gauri', 99, 'roy'])

In [34]:
tuple1=(1,56,34,64,23,44)
tuple2=("laxita","harshita","himani","gauri")
tuple3=("cse",6,7,34,"hello")

maxtup=print(max(tuple1))
mintup=print(min(tuple1))
concate=print(tuple1+tuple3)
slicetup=print(tuple2[2:5])
l=print(list(tuple2))

def cmp():
    if tuple1==tuple2:
        print("both tuple 1 and 2 are same!")
        
    else:
        print("both are not same !")
        
print(cmp())
print(tuple1)
print(tuple2)

64
1
(1, 56, 34, 64, 23, 44, 'cse', 6, 7, 34, 'hello')
('himani', 'gauri')
['laxita', 'harshita', 'himani', 'gauri']
both are not same !
None
(1, 56, 34, 64, 23, 44)
('laxita', 'harshita', 'himani', 'gauri')

In [35]:
n1=5
print(type(n1))
n2=7.8
print(type(n2))
n3=int(n2)
print(n3)
b=True
print(type(b))
s="laxita"
print(type(s))

<class 'int'>
<class 'float'>
7
<class 'bool'>
<class 'str'>

In [38]:
string="{1}{0}{2}".format("asodiya "," laxita ","santosh bhai")
print(string)
#positional format

 laxita asodiya santosh bhai

In [39]:
string1="{b}{a}{c}".format(a="parul ",b="university ",c="cse ")
print(string1)
string1="{c}{b}{a}".format(a="parul ",b="university ",c="cse ")
print(string1)
#key word format

university parul cse
cse university parul

In [40]:
L1=[1,4,5,'laxita',8]
L2=['himani',7,30,12]
print(L1+L2)
print(2*L1)
print(L2+L1)

[1, 4, 5, 'laxita', 8, 'himani', 7, 30, 12]
[1, 4, 5, 'laxita', 8, 1, 4, 5, 'laxita', 8]
['himani', 7, 30, 12, 1, 4, 5, 'laxita', 8]

In [41]:
str=input("enter any random seq") # 2 43 54 6 45 34
result=str.split()
print(result)

enter any random seq2 43 54 6 45 34
['2', '43', '54', '6', '45', '34']

In [42]:
str1="school is for school going students"
l=str1.split('s')
print(l)

['', 'chool i', ' for ', 'chool going ', 'tudent', '']

In [48]:
#updation in tuple
L=[56,7,7,89,97,43]
tuple=("laxita",45,"himani",89,55,95)
L[0]=1000
print(L)
#tuple[2]=1000 #immutable

[1000, 7, 7, 89, 97, 43]

In [49]:
dict={}
dict['name']="laxita"
dict[95]="roll number"
dict["dep"]="cse"
print(dict)

{'name': 'laxita', 95: 'roll number', 'dep': 'cse'}

In [50]:
print(12/4)
print(12//4)
print(12*4)
print(12*4.4)

3.0
3
48
52.800000000000004

In [53]:
a=b=c=1
print(id(a),id(b),id(c))
n=3
f=5
e=6
print(id(n),id(f),id(e))

2506801965360 2506801965360 2506801965360
2506801965424 2506801965488 2506801965520