In [ ]:
print("1.add 2.sub 3.mul 4.div 5.mod")
choice=int(input("Enter your choice: "))

n1=int(input("enter 1st number: "))
n2=int(input("enter 2nd number: "))


if choice==1:
    print(n1+n2)
    
elif choice==2:
    print(n1-n2)
    
elif choice==3:
    print(n1*n2)
    
elif choice==4:
    print(n1/n2)
    
elif choice==5:
    print(n1%n2)
    
else:
    print("none")




'''print(add(5,2))
print(sub(4,5))
print(mul(5,6))
print(mod(3,4))'''

1.add 2.sub 3.mul 4.div 5.mod

In [ ]:
#fibonacci series

n=int(input("enter number of terms you want to print: "))

def fib(n):
    return(fib(n-1)+fib(n-2))

for i in range (n):
    print(fib(i))

enter number of terms you want to print: 4

In [5]:
num1=int(input("enter 1st num: "))
num2=int(input("enter 2st num: "))
num3=int(input("enter 3st num: "))

if num1==num2 and num2==num3:
    print("all numbers are same!")

enter 1st num: 3
enter 2st num: 56
enter 3st num: 4
4 is the greates!

In [10]:
#swap
a=3
b=4
def swap(a,b):
   
    temp=a
    a=b
    b=temp
    
    return(a,b)
print(swap(a,b))

(4, 3)

In [4]:
#square root

num=int(input("enter a number: "))

for i in range(2000):
    if i*i==num:
        print(i)
        break
    else:
        continue

enter a number: 64
8

In [23]:
tuple1=(1,56,34,64,23,44)
tuple2=("laxita","harshita","himani","gauri")
tuple3=("cse",6,7,34,"hello")

maxtup=print(max(tuple1))
mintup=print(min(tuple1))
concate=print(tuple1+tuple3)
slicetup=print(tuple2[2:5])
l=print(list(tuple2))

def cmp():
    if tuple1==tuple2:
        print("both tuple 1 and 2 are same!")
        
    else:
        print("both are not same !")
        
print(cmp())
print(tuple1)
print(tuple2)

64
1
(1, 56, 34, 64, 23, 44, 'cse', 6, 7, 34, 'hello')
('himani', 'gauri')
['laxita', 'harshita', 'himani', 'gauri']
both are not same !
None
(1, 56, 34, 64, 23, 44)
('laxita', 'harshita', 'himani', 'gauri')

In [6]:
#sum of digit
p=1234%10000
print(p)

1234

In [6]:
num=int(input("enter a number: "))
sum=0

def sum1():
    
    while(num>0):
        sum=0
        sum=sum+num%10
        return sum

print(sum1())

enter a number: 23
3

In [4]:
def prime(n):
    if n<=1:
        return("not a prime")
    else:
        if n%2!=0 or n==2:
            print("nuumber is prime")
#n=int(input("enter any number: "))
print(prime(7))

nuumber is prime
None

In [10]:
n1=5
print(type(n1))
n2=7.8
print(type(n2))
n3=int(n2)
print(n3)
b=True
print(type(b))
s="laxita"
print(type(s))

<class 'int'>
<class 'float'>
7
<class 'bool'>
<class 'str'>

In [37]:
#factorial

def fact(n):
    if n<=1:
        return 1
    else:
        return (n*fact(n-1))
print(fact(8))

40320

In [13]:
a=b=c=1
print(id(a),id(b),id(c))
n=3
f=5
e=6
print(id(n),id(f),id(e))

2416053479728 2416053479728 2416053479728
2416053479792 2416053479856 2416053479888

In [36]:
str="let's learn python"
print(str[:])
print(str[:7])
print(str[6:])
print(str[2:8])
print(str[5:11])

let's learn python
let's l
learn python
t's le
 learn

In [25]:
print(str[:-1])
print(str[-6:-2])
print(str[-2:-6]) #nothing will be printed
print(str[-1:])
print(str[-18:])
print(str[-1:-18])

let's learn pytho
pyth

n
let's learn python

In [34]:

print(str[-13:-7])

 learn

In [53]:
string="{1}{0}{2}".format("asodiya "," laxita ","santosh bhai")
print(string)
#positional format

 laxita asodiya santosh bhai

In [59]:
string1="{b}{a}{c}".format(a="parul ",b="university ",c="cse ")
print(string1)
string1="{c}{b}{a}".format(a="parul ",b="university ",c="cse ")
print(string1)
#key word format

university parul cse
cse university parul

In [63]:
L1=[1,4,5,'laxita',8]
L2=['himani',7,30,12]
print(L1+L2)
print(2*L1)
print(L2+L1)

[1, 4, 5, 'laxita', 8, 'himani', 7, 30, 12]
[1, 4, 5, 'laxita', 8, 1, 4, 5, 'laxita', 8]
['himani', 7, 30, 12, 1, 4, 5, 'laxita', 8]

In [65]:
str=input("enter any random seq") # 2 43 54 6 45 34
result=str.split()
print(result)

enter any random seq2 43 54 6 45 34
['2', '43', '54', '6', '45', '34']

In [88]:
str=input("enter any strings")
result=str.split()
print(result)

enter any strings95 67 87
['95', '67', '87']

In [67]:
str=input("enter any random seq") 
result=str.split()
print(result)

enter any random seq2 4 3 2 2 7 4
['2', '4', '3', '2', '2', '7', '4']

In [70]:
str1="school is for school going students"
l=str1.split('s')
print(l)

['', 'chool i', ' for ', 'chool going ', 'tudent', '']

In [72]:
str1=input("enter any number")
l=str1.split('4')
print(l)

enter any number34 54 67 45676 8764
['3', ' 5', ' 67 ', '5676 876', '']

In [73]:
tuple=("laxita",45,"himani",89,55,95)
tup=(45,78,92,45,"alex")
print(tuple+tup)

('laxita', 45, 'himani', 89, 55, 95, 45, 78, 92, 45, 'alex')

In [77]:
print(tuple[3:])
print(tuple[:-2])
print(tuple[4])
print(tuple[-5:-2])

(89, 55, 95)
('laxita', 45, 'himani', 89)
55
(45, 'himani', 89)

In [76]:
print(tup*3)

(45, 78, 92, 45, 'alex', 45, 78, 92, 45, 'alex', 45, 78, 92, 45, 'alex')

In [79]:
#updation in tuple
L=[56,7,7,89,97,43]

L[0]=1000
print(L)
tuple[0]=1000

[1000, 7, 7, 89, 97, 43]

TypeError: 'tuple' object does not support item assignment

In [80]:
dict={}
dict['name']="laxita"
dict[95]="roll number"
dict["dep"]="cse"
print(dict)

{'name': 'laxita', 95: 'roll number', 'dep': 'cse'}

In [82]:
print(dict.keys(),dict.values())

dict_keys(['name', 95, 'dep']) dict_values(['laxita', 'roll number', 'cse'])

In [85]:
print(dict['name'],dict[95],dict['dep'])

laxita roll number cse

In [87]:
dict["marks"]=97 
print(dict)

{'name': 'laxita', 95: 'roll number', 'dep': 'cse', 'marks': 97}

In [89]:
dict["dep"]="AI"
print(dict)

{'name': 'laxita', 95: 'roll number', 'dep': 'AI', 'marks': 97}

In [91]:
print(12/4)
print(12//4)
print(12*4)
print(12*4.4)

3.0
3
48
52.800000000000004

In [96]:
for i in range(4,10,1):
      print(i)

4
5
6
7
8
9